@charset "utf-8";

// variables
$primary: #209cee;
$body-background-color: #eee;
$input-shadow: none;

// Bulma
@import '~bulma/bulma.sass';

html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
